<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>Spanish</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>FixBuy</string>
	<key>CFBundleIdentifier</key>
	<string>com.mx.fixbuy</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb661258913936079</string>
			</array>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Para utilzar todas sus funciones FixBuy necesita obtener tu ubicación</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UIMainNibFile</key>
	<string>MainView_iPhone</string>
	<key>UIMainNibFile~ipad</key>
	<string>MainView_iPad</string>
</dict>
</plist>
